
.driver-duties-viewer-container {
    display: flex;
    flex-flow: column;
}
  
.search-container {
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center;
    width: inherit;
}

.page-number-selector {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.options-bar-text {
    margin: 0;
    color: white;
    padding-right: 3px;
}

.page-size-selector {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
  
.driver-duties-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
}

.driver-duty-template {
    display: inline-block;
    height: 150px;
    width: 90vw;
    max-width: 300px;
    background-color: #33383E;
    border-radius: 8px;
    color: white;
}
  
.driver-duty-template hr {
    margin: 0;
    padding: 0;
}

.driver-duty-template p {
    font-size: 20px;
    text-indent: 15px;
    margin: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0;
}