
<div class="driver-duties-viewer-container">
    <div class="search-container">
      <div class="page-number-selector">
        <p class="options-bar-text" translate>itemViewer.pageSelectorText</p>
        <app-page-selector [dadosCriacaoPaginas]="pageCreationData" (selectedValue)="changePage($event)"></app-page-selector>
      </div>
  
      <div class="page-size-selector">
        <p class="options-bar-text" translate>itemViewer.sizeSelectorText</p>
        <app-size-selector (selectedValue)="changeSize($event)"></app-size-selector>
      </div>
    </div>
  
    <div class="spinner-border text-primary mx-auto mt-5" style="width: 5rem; height: 5rem;" role="status" *ngIf="!hasFinishedLoadingDriverDuties; else driverDutiesDisplayer">
      <span class="sr-only">Loading...</span>
    </div>

    <ng-template #driverDutiesDisplayer>
      <div class="driver-duties-container">
        <p class="options-bar-text text-center" *ngIf="driverDuties.length == 0" translate>itemViewer.noDriverDutiesText</p>
        <div class="driver-duty-template" *ngFor="let dd of driverDuties" (click)="onClickedDriverDuty(dd)">
          <p>{{dd.code}}</p>
          <hr>
          <p translate [translateParams]="{NumberWorkBlocks: dd.workBlockCodes.length}">driverDutyModel.numberWorkBlocksText</p>
        </div>
      </div>
    </ng-template>
  </div>