<div class="planning-container">
    <div class="button-bar">
        <a class="toggle-button" [routerLink]="['./shortest_route']">
            <p translate>planning.shortestPathText</p>
        </a>
        <a class="toggle-button" [routerLink]="['./scheduling']">
            <p translate>planning.schedulingText</p>
        </a>
    </div>
    <router-outlet></router-outlet>
</div>