
<div class="criacao-nos-container">
    <h2 translate>createNode.headerMessage</h2>
    <form class="criacao-nos-form" [formGroup]="formNoCriacao" (ngSubmit)="onSubmit(formNoCriacao.value)">
        <div class="input-nos">
            <label for="tipoNo" translate>createNode.nodeTypeLabel</label>
            <select name="tipoNo" id="tipoNo" #selectElem (change)="onChange(selectElem.value)">
                <option *ngFor="let tipoNo of tiposNos; let i='index'" [value]="i" translate>{{tipoNo.nome}}</option>
            </select>
        </div>
        <div class="input">
            <label for="abreviatura" translate>createNode.shortNameLabel</label>
            <input type="text" id="abreviatura" formControlName="abreviatura">
        </div>
        <div class="input">
            <label for="nome" translate>createNode.nameLabel</label>
            <input type="text" id="nome" formControlName="nome">
        </div>
        <div class="input">
            <label for="latitude" translate>createNode.latitudeLabel</label>
            <input type="number" step="0.000000001" id="latitude" formControlName="latitude">
        </div>
        <div class="input">
            <label for="longitude" translate>createNode.longitudeLabel</label>
            <input type="number" step="0.000000001" id="longitude" formControlName="longitude">
        </div>
        <div class="input" *ngIf="tipoNoSelecionado !== undefined && tipoNoSelecionado.temCapacidade">
            <label for="capacidade" translate>createNode.capacityLabel</label>
            <input type="number" id="capacidade" formControlName="capacidade">
        </div>
        <div class="input-tempos" *ngIf="tipoNoSelecionado !== undefined && tipoNoSelecionado.temTempos">
            <button type="button" mat-button (click)="openDialog()" translate>createNode.newTimeButton</button>
            <p translate [translateParams]="{number: temposSelecionados.length}">createNode.crewTravelTimeHeader</p>
            <div class="template-tempos" *ngFor="let tempo of temposSelecionados">
                <p translate [translateParams]="{time: tempo.tempo, dest: tempo.abreviaturaNo}">createNode.crewTravelTimeMessage</p>
                <button (click)="eliminarTempo(tempo)" translate>createNode.deleteButton</button>
            </div>
        </div>
        <div class="input-button">
            <button class="button" type="submit" translate>createNode.submitButton</button>
        </div>
    </form>
</div>