
.criacao-nos-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
}

.criacao-nos-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.criacao-nos-form label {
    width:20%;
    max-width: 100px;
    padding-right: 10px;
}

.input-nos {
    flex-basis: 90%;
}

.input {
    flex-basis: 45%;
    max-width: 750px;
}

.input-tempos {
    flex-basis: 90%;
}

.input-button {
    flex-basis: 100%;
}

.template-tempos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-height: 24px;
    column-gap: 10px;
}

.template-tempos p {
    width: 90%;
    max-width: 350px;
}

.template-tempos button {
    width: 10%;
    max-width: 100px;
    max-height: 24px;
}