<div class="drivers-scheduler-container">
    <h2 translate>planning.scheduling.headerMessage</h2>
    <form class="drivers-scheduler-form" [formGroup]="scheduleDriversForm" (ngSubmit)="onSubmit(scheduleDriversForm.value)">
        <div class="input">
            <label for="numberDrivers" translate>planning.scheduling.numberDriversLabel</label>
            <input type="number" step="1" min="0" id="numberDrivers" formControlName="numberDrivers">
        </div>
        <div class="input">
            <label for="chanceCrossing" translate>planning.scheduling.chanceCrossingLabel</label>
            <input type="number" step="0.1" min="0" max="1" id="chanceCrossing" formControlName="chanceCrossing">
        </div>
        <div class="input">
            <label for="chanceMutation" translate>planning.scheduling.chanceMutationLabel</label>
            <input type="number" step="0.1" min="0" max="1" id="chanceMutation" formControlName="chanceMutation">
        </div>
        <div class="input">
            <label for="population" translate>planning.scheduling.populationLabel</label>
            <input type="number" step="1" min="0" id="population" formControlName="population">
        </div>
        <div class="input">
            <label for="numberGenerations" translate>planning.scheduling.numberGenerationsLabel</label>
            <input type="number" step="1" min="0" id="numberGenerations" formControlName="numberGenerations">
        </div>
        <div class="input-button">
            <button class="button" type="submit" translate>planning.scheduling.submitButton</button>
        </div>
        <div class="results-template">
            <div class="driver-duty-template" *ngFor="let duty of duties">
                <p class="driver-duty-message" translate [translateParams]="{duty: duty.code + 1}">planning.scheduling.driverDutyText</p>
                <p class="work-block-message" *ngFor="let workBlock of duty.workBlockCodes" translate [translateParams]="{workBlock: workBlock}">planning.scheduling.workBlockText</p>
            </div>
        </div>
        <p class="message" *ngFor="let message of errorMessages" translate>{{message}}</p>
    </form>
</div>