
.drivers-scheduler-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
}

.drivers-scheduler-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.drivers-scheduler-form label {
    width:50%;
    max-width: 225px;
    padding-right: 10px;
}

.input {
    flex-basis: 45%;
    max-width: 750px;
}

.input-button {
    flex-basis: 100%;
}

.message {
    color: red;
    font-size: 18px;
    margin-bottom: 0;
}

.driver-duty-message {
    color: #959e34;
    font-size: 18px;
    margin-bottom: 0;
}

.work-block-message {
    color: #bfc76f;
    font-size: 16px;
    margin-bottom: 0;
    text-indent: 1.5cm;
}

.results-template {
    display: flex;
    flex-flow: row wrap;
    width: 95%;
}

.driver-duty-template {
    flex-basis: 99%;
    max-width: 350px;
    padding-top: 10px;
}