
<div class="choose-node-container">
    <h2 mat-dialog-title translate>planning.shortestRoute.chooseNode.headerMessage</h2>
    <div mat-dialog-content>
        <visualizador-nos (noClicado)="onClickedNode($event)"></visualizador-nos>
    </div>
    
    <div class="input-data-container">
        <div class="input">
            <label for="node" translate>planning.shortestRoute.chooseNode.nodeLabel</label>
            <input type="text" id="node" [ngModel]="node" (ngModelChange)="chooseNode($event)" disabled>
        </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelClick()" translate>planning.shortestRoute.chooseNode.cancelButton</button>
      <button mat-button (click)="onAddClick()" cdkFocusInitial translate>planning.shortestRoute.chooseNode.addButton</button>
    </div>
</div>