
<div class="choose-line-container">
    <h2 mat-dialog-title translate>createTrip.chooseLine.headerMessage</h2>
    <div mat-dialog-content>
        <visualizador-linhas (linhaClicada)="onClickedLine($event)"></visualizador-linhas>
    </div>
    
    <div class="input-data-container">
        <div class="input">
            <label for="lineCode" translate>createTrip.chooseLine.lineCodeLabel</label>
            <input type="text" id="lineCode" [ngModel]="lineCode" (ngModelChange)="chooseLine($event)" disabled>
        </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelClick()" translate>createTrip.chooseLine.cancelButton</button>
      <button mat-button (click)="onAddClick()" cdkFocusInitial translate>createTrip.chooseLine.addButton</button>
    </div>
</div>