
.shortest-path-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
}

.shortest-path-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.shortest-path-form label {
    width:auto;
    max-width: 250px;
    padding-right: 10px;
}

.input {
    flex-basis: 45%;
    max-width: 750px;
}

.nodes-input {
    flex-basis: 90%;
}

.input-button {
    flex-basis: 100%;
}

.message {
    color: red;
    font-size: 18px;
    margin-bottom: 0;
}