
<div class="shortest-path-container">
    <h2 translate>planning.shortestRoute.headerMessage</h2>
    <form class="shortest-path-form" [formGroup]="shortestPathForm" (ngSubmit)="onSubmit(shortestPathForm.value)">
        <div class="input">
            <label for="startHour" translate>planning.shortestRoute.timeLabel</label>
            <input type="time" id="startHour" formControlName="startHour">
        </div>
        <div class="nodes-input">
            <button type="button" mat-button (click)="openChooseFirstNodeDialog()" translate>planning.shortestRoute.chooseFirstNodeButton</button>
            <p *ngIf="chosenFirstNodeCode == null" translate>planning.shortestRoute.noChosenFirstNode</p>
            <p *ngIf="chosenFirstNodeCode != null" translate [translateParams]="{node: chosenFirstNodeCode}">planning.shortestRoute.chosenFirstNodeMessage</p>
        </div>
        <div class="nodes-input">
            <button type="button" mat-button (click)="openChooseSecondNodeDialog()" translate>planning.shortestRoute.chooseSecondNodeButton</button>
            <p *ngIf="chosenSecondNodeCode == null" translate>planning.shortestRoute.noChosenSecondNode</p>
            <p *ngIf="chosenSecondNodeCode != null" translate [translateParams]="{node: chosenSecondNodeCode}">planning.shortestRoute.chosenSecondNodeMessage</p>
        </div>
        <div class="input-button">
            <button class="button" type="submit" translate>planning.shortestRoute.submitButton</button>
        </div>
        <p class="message" *ngFor="let node of route" translate [translateParams]="{node: node.node, time: node.time}">planning.shortestRoute.nodeInRouteText</p>
        <p class="message" *ngFor="let message of errorMessages" translate>{{message}}</p>
    </form>
</div>