
<div class="visualizacao-tipos-viaturas-container">

  <div class="novo-tipo-viatura-button">
    <a [routerLink]="['../novoTipoViatura']">
      <button translate>viewVehicleTypes.newVehicleTypeButton</button>
    </a>
  </div>
  
  <visualizador-tipos-viaturas></visualizador-tipos-viaturas>

</div>