<div class="privacy-policy-container">
    <h2 class="main-header" innerHTML="{{ 'privacyPage.pageHeader' | translate }}"></h2>
    <h3 class="topic-header" innerHTML="{{ 'privacyPage.whatIsPersonalDataHeader' | translate }}"></h3>
    <p class="topic-text" innerHTML="{{ 'privacyPage.whatIsPersonalDataText' | translate }}"></p>
    <h3 class="topic-header" innerHTML="{{ 'privacyPage.whoIsResponsibleHeader' | translate }}"></h3>
    <p class="topic-text" innerHTML="{{ 'privacyPage.whoIsResponsibleText' | translate }}"></p>
    <h3 class="topic-header" innerHTML="{{ 'privacyPage.whenWeCollectDataHeader' | translate }}"></h3>
    <p class="topic-text" innerHTML="{{ 'privacyPage.whenWeCollectDataText' | translate }}"></p>
    <h3 class="topic-header" innerHTML="{{ 'privacyPage.whatPersonalDataHeader' | translate }}"></h3>
    <p class="topic-text" innerHTML="{{ 'privacyPage.whatPersonalDataText' | translate }}"></p>
    <h3 class="topic-header" innerHTML="{{ 'privacyPage.whatFinalitiesHeader' | translate }}"></h3>
    <p class="topic-text" innerHTML="{{ 'privacyPage.whatFinalitiesText' | translate }}"></p>
    <h3 class="topic-header" innerHTML="{{ 'privacyPage.whoDestinationsHeader' | translate }}"></h3>
    <p class="topic-text" innerHTML="{{ 'privacyPage.whoDestinationsText' | translate }}"></p>
    <h3 class="topic-header" innerHTML="{{ 'privacyPage.howLongHeader' | translate }}"></h3>
    <p class="topic-text" innerHTML="{{ 'privacyPage.howLongText' | translate }}"></p>
    <h3 class="topic-header" innerHTML="{{ 'privacyPage.howToOpposeHeader' | translate }}"></h3>
    <p class="topic-text" innerHTML="{{ 'privacyPage.howToOpposeText' | translate }}"></p>
    <h3 class="topic-header" innerHTML="{{ 'privacyPage.howToComplainHeader' | translate }}"></h3>
    <p class="topic-text" innerHTML="{{ 'privacyPage.howToComplainText' | translate }}"></p>
</div>