
.privacy-policy-container {
    width: 90%;
    max-width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin: 0 auto;
}

.main-header {
    font-size: 36px;
    color: #dfdfcb;
}

.topic-header {
    font-size: 20px;
    color: #cbcba9;
}

.topic-text {
    text-indent: 30px;
    font-size: 16px;
    color: white;
}