
<div class="visualizacao-linhas-container">

  <div class="novo-linha-button">
    <a [routerLink]="['../novaLinha']">
      <button translate>viewLines.newLineButton</button>
    </a>
  </div>

  <visualizador-linhas (linhaClicada)="onClickedLine($event)"></visualizador-linhas>

</div>