
<div class="message">
    <p translate [translateParams]="{cod: tipoT.codigo}">linePage.driverTypeCodeText</p>
    <p translate [translateParams]="{desc: tipoT.descricao}">linePage.driverTypeDescriptionText</p>
</div>