
.criacao-tipos-tripulantes-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
}

.criacao-tipos-tripulantes-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.criacao-tipos-tripulantes-form label {
    width:20%;
    max-width: 100px;
    padding-right: 10px;
}

.input {
    flex-basis: 45%;
    max-width: 750px;
}

.input-descricao {
    display: flex;
    flex-flow: column wrap;
    max-width: 750px;
    flex-basis: 90%;
}

.input-descricao textarea {
    resize: none;
}

.input-button {
    flex-basis: 100%;
}