
<div class="criacao-tipos-tripulantes-container">
    <h2 translate>createDriverType.headerMessage</h2>
    <form class="criacao-tipos-tripulantes-form" [formGroup]="formCriacaoTipoTripulante" (ngSubmit)="onSubmit(formCriacaoTipoTripulante.value)">
        <div class="input">
            <label for="codigo" translate>createDriverType.codeLabel</label>
            <input type="text" id="codigo" formControlName="codigo">
        </div>
        <div class="input-descricao">
            <label for="descricao" translate>createDriverType.descriptionLabel</label>
            <textarea id="descricao" formControlName="descricao"></textarea>
        </div>
        <div class="input-button">
            <button class="button" type="submit" translate>createDriverType.submitButton</button>
        </div>
    </form>
</div>