
<div class="work-blocks-displayer-container">

    <div class="new-work-block-button">
      <a [routerLink]="['../newWorkBlock']">
        <button translate>viewWorkBlocks.newWorkBlockButton</button>
      </a>
    </div>
    
    <app-work-blocks-viewer></app-work-blocks-viewer>
  
</div>