
<div class="choose-vehicle-type-container">
    <h2 mat-dialog-title translate>createVehicle.chooseVehicleType.headerMessage</h2>
    <div mat-dialog-content>
        <visualizador-tipos-viaturas (tipoViaturaClicada)="onClickedVehicleType($event)"></visualizador-tipos-viaturas>
    </div>
    
    <div class="input-data-container">
        <div class="input">
            <label for="vehicleType" translate>createVehicle.chooseVehicleType.vehicleTypeLabel</label>
            <input type="text" id="vehicleType" [ngModel]="vehicleType" (ngModelChange)="chooseVehicleType($event)" disabled>
        </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelClick()" translate>createVehicle.chooseVehicleType.cancelButton</button>
      <button mat-button (click)="onAddClick()" cdkFocusInitial translate>createVehicle.chooseVehicleType.addButton</button>
    </div>
</div>