
<div class="network-container">
    <div class="button-bar">
        <a class="toggle-button" [routerLink]="['./2d']">
            <p translate>visualization.2dToggleText</p>
        </a>
        <a class="toggle-button" [routerLink]="['./3d']">
            <p translate>visualization.3dToggleText</p>
        </a>
    </div>
    <router-outlet></router-outlet>
</div>