
.network-container {
    padding: 10px;
    height: 100%;
}

.button-bar {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.toggle-button {
    flex-grow: 1;
    text-align: center;
}

.toggle-button p {
    margin: 0px;
}