
.display-line-container {
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
}

.main-header {
    font-size: 42px;
    color: #dfdfcb;
}

.topic-header {
    font-size: 24px;
    color: #cbcba9;
}

.topic-text {
    text-indent: 30px;
    font-size: 20px;
    color: white;
}