
<div class="display-line-container">
    <div class="spinner-border text-primary" role="status" *ngIf="!hasFinishedLoadingLine; else pageDisplayer">
        <span class="sr-only">Loading...</span>
    </div>
    <p class="topic-text" *ngFor="let message of messages" translate>{{message}}</p>
    <ng-template #pageDisplayer>
        <h2 class="main-header" translate [translateParams]="{cod: linha.codigo}">linePage.pageHeader</h2>
        <h3 class="topic-header" translate>linePage.descriptionHeader</h3>
        <p class="topic-text">{{linha.nome}}</p>
        <h3 class="topic-header" translate>linePage.pathsHeader</h3>

        <h4 class="topic-text" translate>linePage.goPathsHeader</h4>
        <div class="spinner-border text-primary" role="status" *ngIf="!hasFinishedLoadingGoPaths; else goPathDisplayer">
            <span class="sr-only">Loading...</span>
        </div>
        <ng-template #goPathDisplayer>
            <p class="topic-text" *ngIf="percursosIda.length == 0" translate>linePage.noGoPathsText</p>
            <app-percurso-template *ngFor="let perc of percursosIda" [perc]="perc"></app-percurso-template>
        </ng-template>

        <h4 class="topic-text" translate>linePage.returnPathsHeader</h4>
        <div class="spinner-border text-primary" role="status" *ngIf="!hasFinishedLoadingReturnPaths; else returnPathDisplayer">
            <span class="sr-only">Loading...</span>
        </div>
        <ng-template #returnPathDisplayer>
            <p class="topic-text" *ngIf="percursosVolta.length == 0" translate>linePage.noReturnPathsText</p>
            <app-percurso-template *ngFor="let perc of percursosVolta" [perc]="perc"></app-percurso-template>
        </ng-template>

        <h4 class="topic-text" translate>linePage.extraPathsHeader</h4>
        <div class="spinner-border text-primary" role="status" *ngIf="!hasFinishedLoadingExtraPaths; else extraPathDisplayer">
            <span class="sr-only">Loading...</span>
        </div>
        <ng-template #extraPathDisplayer>
            <p class="topic-text" *ngIf="percursosReforco.length == 0" translate>linePage.noExtraPathsText</p>
            <app-percurso-template *ngFor="let perc of percursosReforco" [perc]="perc"></app-percurso-template>
        </ng-template>
        
        <h4 class="topic-text" translate>linePage.emptyPathsHeader</h4>
        <div class="spinner-border text-primary" role="status" *ngIf="!hasFinishedLoadingEmptyPaths; else emptyPathDisplayer">
            <span class="sr-only">Loading...</span>
        </div>
        <ng-template #emptyPathDisplayer>
            <p class="topic-text" *ngIf="percursosVazio.length == 0" translate>linePage.noEmptyPathsText</p>
            <app-percurso-template *ngFor="let perc of percursosVazio" [perc]="perc"></app-percurso-template>
        </ng-template>

        <h3 class="topic-header" translate>linePage.vehicleTypesHeader</h3>
        <div class="spinner-border text-primary" role="status" *ngIf="!hasFinishedLoadingVehicleTypes; else vehicleTypesDisplayer">
            <span class="sr-only">Loading...</span>
        </div>
        <ng-template #vehicleTypesDisplayer>
            <p class="topic-text" *ngIf="tiposViaturas.length == 0" translate>linePage.noVehicleTypesText</p>
            <p class="topic-text" *ngIf="tiposTripulantes.length > 0" translate>linePage.{{linha.restricaoTiposViaturas}}OnVehicleTypes</p>
            <app-tipo-viatura-template *ngFor="let tipoV of tiposViaturas" [tipoV]="tipoV"></app-tipo-viatura-template>
        </ng-template>

        <h3 class="topic-header" translate>linePage.driverTypesHeader</h3>
        <div class="spinner-border text-primary" role="status" *ngIf="!hasFinishedLoadingVehicleTypes; else driverTypesDisplayer">
            <span class="sr-only">Loading...</span>
        </div>
        <ng-template #driverTypesDisplayer>
            <p class="topic-text" *ngIf="tiposTripulantes.length == 0" translate>linePage.noDriverTypesText</p>
            <p class="topic-text" *ngIf="tiposTripulantes.length > 0" translate>linePage.{{linha.restricaoTiposTripulantes}}OnDriverTypes</p>
            <app-tipo-tripulante-template *ngFor="let tipoT of tiposTripulantes" [tipoT]="tipoT"></app-tipo-tripulante-template>
        </ng-template>

    </ng-template>
</div>
