
<div class="visualizacao-tipos-tripulantes-container">

  <div class="novo-tipo-tripulante-button">
    <a [routerLink]="['../novoTipoTripulante']">
      <button translate>viewDriverTypes.newDriverTypeButton</button>
    </a>
  </div>

  <visualizador-tipos-tripulantes></visualizador-tipos-tripulantes>

</div>