
<div class="visualizador-tipos-viaturas-container">

    <div class="container-pesquisa">

      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa" translate>itemViewer.filterSelectorText</p>
        <app-filters-selector [possibleFilters]="filters" (selectedValue)="mudarFiltro($event)"></app-filters-selector>
      </div>

      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa" translate>itemViewer.pageSelectorText</p>
        <app-page-selector [dadosCriacaoPaginas]="dadosCriacaoPaginas" (selectedValue)="mudarPagina($event)"></app-page-selector>
      </div>

      <div class="pesquisa-tipos-viaturas">
        <app-search-bar (searchContent)="mudarPesquisa($event)"></app-search-bar>
      </div>

      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa" translate>itemViewer.sortSelectorText</p>
        <app-sort-selector [possibleSorts]="sorts" (selectedValue)="mudarSort($event)" (selectedOrder)="mudarOrdem($event)"></app-sort-selector>
      </div>

      <div class="selector-tamanho-pagina">
        <p class="texto-container-pesquisa" translate>itemViewer.sizeSelectorText</p>
        <app-size-selector (selectedValue)="mudarTamanho($event)"></app-size-selector>
      </div>

    </div>

    <div class="spinner-border text-primary mx-auto mt-5" style="width: 5rem; height: 5rem;" role="status" *ngIf="!hasFinishedLoadingVehicleTypes; else vehicleTypesDisplayer">
      <span class="sr-only">Loading...</span>
    </div>

    <ng-template #vehicleTypesDisplayer>
      <div class="tipos-viaturas-container">
          <p class="texto-container-pesquisa" *ngIf="tiposViaturas.length == 0" translate>itemViewer.noVehicleTypesText</p>
          <div class="tipo-viatura-template" *ngFor="let tipoViatura of tiposViaturas" (click)="onClickedVehicleType(tipoViatura)">
              <p>{{tipoViatura.codigo}}</p>
              <hr>
              <p>{{tipoViatura.descricao}}</p>
          </div>
      </div>
    </ng-template>

</div>