
<div class="visualizador-nos-container">

    <div class="container-pesquisa">

      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa" translate>itemViewer.filterSelectorText</p>
        <app-filters-selector [possibleFilters]="filters" (selectedValue)="mudarFiltro($event)"></app-filters-selector>
      </div>

      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa" translate>itemViewer.pageSelectorText</p>
        <app-page-selector [dadosCriacaoPaginas]="dadosCriacaoPaginas" (selectedValue)="mudarPagina($event)"></app-page-selector>
      </div>

      <div class="pesquisa-nos">
        <app-search-bar (searchContent)="mudarPesquisa($event)"></app-search-bar>
      </div>

      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa" translate>itemViewer.sortSelectorText</p>
        <app-sort-selector [possibleSorts]="sorts" (selectedValue)="mudarSort($event)" (selectedOrder)="mudarOrdem($event)"></app-sort-selector>
      </div>

      <div class="selector-tamanho-pagina">
        <p class="texto-container-pesquisa" translate>itemViewer.sizeSelectorText</p>
        <app-size-selector (selectedValue)="mudarTamanho($event)"></app-size-selector>
      </div>

    </div>

    <div class="spinner-border text-primary mx-auto mt-5" style="width: 5rem; height: 5rem;" role="status" *ngIf="!hasFinishedLoadingNodes; else nodesDisplayer">
      <span class="sr-only">Loading...</span>
    </div>

    <ng-template #nodesDisplayer>
      <div class="nos-container">
        <p class="texto-container-pesquisa" *ngIf="nos.length == 0" translate>itemViewer.noNodesText</p>
        <div class="nos-template" *ngFor="let no of nos" (click)="onClickedNode(no)">
          <div class="coordenadas">
            <p class="abreviatura">{{no.abreviatura}}</p>
            <p class="nome" translate>{{no.tipoNo}}</p>
          </div>
  
          <hr />
          <p class="nome">{{no.nome}}</p>
          <div class="coordenadas">
            <p class="nome">{{no.latitude}}</p>
            <p class="nome">{{no.longitude}}</p>
          </div>
  
          <p class="capacidade" *ngIf="no.capacidade !== undefined" translate [translateParams]="{number: no.capacidade}">nodeModel.capacityText</p>
        </div>
  
      </div>
    </ng-template>

</div>