
<div class="visualizador-tipos-tripulantes-container">

    <div class="container-pesquisa">

      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa" translate>itemViewer.pageSelectorText</p>
        <app-page-selector [dadosCriacaoPaginas]="dadosCriacaoPaginas" (selectedValue)="mudarPagina($event)"></app-page-selector>
      </div>

      <div class="pesquisa-tipos-tripulantes">
        <app-search-bar (searchContent)="mudarPesquisa($event)"></app-search-bar>
      </div>

      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa" translate>itemViewer.sortSelectorText</p>
        <app-sort-selector [possibleSorts]="sorts" (selectedValue)="mudarSort($event)" (selectedOrder)="mudarOrdem($event)"></app-sort-selector>
      </div>

      <div class="selector-tamanho-pagina">
        <p class="texto-container-pesquisa" translate>itemViewer.sizeSelectorText</p>
        <app-size-selector (selectedValue)="mudarTamanho($event)"></app-size-selector>
      </div>

    </div>
  
    <div class="spinner-border text-primary mx-auto mt-5" style="width: 5rem; height: 5rem;" role="status" *ngIf="!hasFinishedLoadingDriverTypes; else driverTypesDisplayer">
      <span class="sr-only">Loading...</span>
    </div>

    <ng-template #driverTypesDisplayer>
      <div class="tipos-tripulantes-container">
        <p class="texto-container-pesquisa" *ngIf="tiposTripulantes.length == 0" translate>itemViewer.noDriverTypesText</p>
        <div class="tipo-tripulante-template" *ngFor="let tipoTripulante of tiposTripulantes" (click)="onClickedDriverType(tipoTripulante)">
            <p>{{tipoTripulante.codigo}}</p>
            <hr>
            <p>{{tipoTripulante.descricao}}</p>
        </div>
      </div>
    </ng-template>


</div>