
<div class="rede">
    <div class="menu-rede-container">
        <div class="menu-rede">
            <a class="elem-menu-rede" [routerLink]="['./nos']">
                <p translate>networkPage.nodesText</p>
            </a>
            <a class="elem-menu-rede" [routerLink]="['./percursos']">
                <p translate>networkPage.pathsText</p>
            </a>
            <a class="elem-menu-rede" [routerLink]="['./linhas']">
                <p translate>networkPage.linesText</p>
            </a>
            <a class="elem-menu-rede" [routerLink]="['./tiposViaturas']">
                <p translate>networkPage.vehicleTypesText</p>
            </a>
            <a class="elem-menu-rede" [routerLink]="['./tiposTripulantes']">
                <p translate>networkPage.driverTypesText</p>
            </a>
            <a class="elem-menu-rede" [routerLink]="['./importacao']">
                <p translate>networkPage.importationText</p>
            </a>
        </div>
    </div>
    <div class="rede-displayer">
        <router-outlet></router-outlet>
    </div>
</div>