
.rede {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    max-width: 100%;
}

.menu-rede-container {
    background-color: #262626;
    flex-grow: 1;
    flex-basis: 20%;
}

.menu-rede {
    position: sticky;
    top: 110px;
}

.elem-menu-rede {
    width: 100%;
    font-size: 18px;
    font-family: 'Lucida Sans';
    font-weight: bold;
    color: #c2c1c1;
    text-decoration: none;
    text-align: center;
}

.elem-menu-rede:hover, .elem-menu-rede:focus {
    color: #747373;
}

.rede-displayer {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-basis: 80%;
}