
<div class="vehicle-duties-viewer-container">
    <div class="search-container">

      <div class="page-number-selector">
        <p class="options-bar-text" translate>itemViewer.pageSelectorText</p>
        <app-page-selector [dadosCriacaoPaginas]="pageCreationData" (selectedValue)="changePage($event)"></app-page-selector>
      </div>

      <div class="page-number-selector">
        <p class="options-bar-text" translate>itemViewer.sortSelectorText</p>
        <app-sort-selector [possibleSorts]="sorts" (selectedValue)="changeSort($event)" (selectedOrder)="changeOrder($event)"></app-sort-selector>
      </div>
  
      <div class="page-size-selector">
        <p class="options-bar-text" translate>itemViewer.sizeSelectorText</p>
        <app-size-selector (selectedValue)="changeSize($event)"></app-size-selector>
      </div>
    </div>

    <div class="spinner-border text-primary mx-auto mt-5" style="width: 5rem; height: 5rem;" role="status" *ngIf="!hasFinishedLoadingVehicleDuties; else vehicleDutiesDisplayer">
      <span class="sr-only">Loading...</span>
    </div>
    
    <ng-template #vehicleDutiesDisplayer>
      <div class="vehicle-duties-container">
        <p class="options-bar-text text-center" *ngIf="vehicleDuties.length == 0" translate>itemViewer.noVehicleDutiesText</p>
        <div class="vehicle-duty-template" *ngFor="let vd of vehicleDuties" (click)="onClickedVehicleDuty(vd)">
          <p>{{vd.code}}</p>
          <hr>
          <p translate [translateParams]="{StartTime: vd.startTime}">vehicleDutyModel.startTimeText</p>
          <p translate [translateParams]="{EndTime: vd.endTime}">vehicleDutyModel.endTimeText</p>
          <p translate [translateParams]="{NumberTrips: vd.listTrips.length}">vehicleDutyModel.numberTripsText</p>
        </div>
      </div>
    </ng-template>
  </div>