
<div class="drivers-displayer-container">

    <div class="new-driver-button">
      <a [routerLink]="['../newDriver']">
        <button translate>viewDrivers.newDriverButton</button>
      </a>
    </div>
    
    <app-drivers-viewer></app-drivers-viewer>
  
</div>