
<div class="search-bar">
    <form [formGroup]="searchForm" (ngSubmit)="ngOnSubmit(searchForm.value)">
      <input id="search" type="text" formControlName="search"/>
      <button type="submit" translate>itemViewer.searchSelectorText</button>
    </form>
  </div>