
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-flow: row wrap;
  }
  
  .search-bar input {
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    max-width: 200px;
  }
  
  .search-bar button {
    border: 0;
  }