
<div class="adicao-segmento-container">
    <h2 mat-dialog-title translate>createPath.addSegment.headerMessage</h2>
    <div mat-dialog-content>
        <visualizador-nos (noClicado)="onClickedNode($event)"></visualizador-nos>
    </div>
    
    <div class="input-dados-segmento-container">
        <div class="input">
            <label for="abreviaturaNoInicial" translate>createPath.addSegment.startNodeLabel</label>
            <input type="text" [attr.disabled]="abreviaturaNoInicial !== ''? true : null" id="abreviaturaNoInicial" [ngModel]="abreviaturaNoInicial" (ngModelChange)="adicionarAbreviaturaNo($event)">
        </div>
        <div class="input">
            <label for="abreviaturaNo" translate>createPath.addSegment.endNodeLabel</label>
            <input type="text" id="abreviaturaNo" [ngModel]="abreviaturaNo" (ngModelChange)="adicionarAbreviaturaNo($event)">
        </div>
        <div class="input">
            <label for="duracaoSegmento" translate>createPath.addSegment.durationLabel</label>
            <input type="time" step="1" id="duracaoSegmento" (change)="adicionarDuracaoSegmento($event)">
        </div>
        <div class="input">
            <label for="distanciaSegmento" translate>createPath.addSegment.distanceLabel</label>
            <input type="number" step="1" id="distanciaSegmento" [ngModel]="distanciaSegmento" (ngModelChange)="adicionarDistanciaSegmento($event)">
        </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelarClick()" translate>createPath.addSegment.cancelButton</button>
      <button mat-button (click)="onAdicionarClick()" cdkFocusInitial translate>createPath.addSegment.addButton</button>
    </div>
</div>