

.message {
    text-indent: 10%;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.message p {
    margin-bottom: 0;
}

.sub-message {
    margin-top: 20px;
    margin-bottom: 20px;
    text-indent: 15%;
    font-size: 16px;
    color: white;
}

.sub-message p {
    margin-bottom: 0;
}