
<div class="message">
    <p translate [translateParams]="{cod: tipoV.codigo}">linePage.vehicleTypeCodeText</p>
    <p translate [translateParams]="{desc: tipoV.descricao}">linePage.vehicleTypeDescriptionText</p>
    <p translate [translateParams]="{auto: tipoV.autonomia}">linePage.vehicleTypeAutonomyText</p>
    <p translate [translateParams]="{speed: tipoV.velocidadeMedia}">linePage.vehicleTypeSpeedText</p>
    <p translate [translateParams]="{cost: tipoV.custo}">linePage.vehicleTypeCostText</p>
    <p translate [translateParams]="{consumption: tipoV.consumo}">linePage.vehicleTypeConsumptionText</p>
    <p translate [translateParams]="{emissions: tipoV.emissoes}">linePage.vehicleTypeEmissionsText</p>
    <p translate [translateParams]="{fuelType: tipoV.tipoCombustivel.descricao}">linePage.vehicleTypeFuelText</p>
</div>