
.signup-page-container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
    max-width: 800px;
    font-size: 24px;
    margin: 0 auto;
}

.signup-page-container h2 {
    margin: 0 auto;
}

.signup-form {
    padding-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.signup-form label {
    width: auto;
    padding-right: 10px;
}

.input {
    flex-basis: 45%;
    max-width: 750px;
}

.input-button {
    flex-basis: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.checkbox {
    height: 36px;
    width: 24px;
    margin-right: 10px;
}

.message {
    color: red;
    font-size: 18px;
    margin-bottom: 0;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 200;
    cursor: pointer;
} 