
<div class="signup-page-container">
    <div class="overlay" *ngIf="isSigningIn">
        <div class="spinner-border text-primary" style="position: fixed; width: 5rem; height: 5rem; bottom: 50%; right: 50%" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <h2 translate>signupPage.headerMessage</h2>
    <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="input">
            <label for="username" translate>signupPage.usernameLabel</label>
            <input type="text" id="username" formControlName="username">
        </div>
        <div class="input">
            <label for="email" translate>signupPage.emailLabel</label>
            <input type="text" id="email" formControlName="email">
        </div>
        <div class="input">
            <label for="password" translate>signupPage.passwordLabel</label>
            <input type="password" id="password" formControlName="password" autocomplete="new-password">
        </div>
        <div class="input">
            <label for="confirmPassword" translate>signupPage.confirmPasswordLabel</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword">
        </div>
        <div class="input">
            <label for="birthDate" translate>signupPage.birthDateLabel</label>
            <input type="date" id="birthDate" required pattern="\d{4}-\d{2}-\d{2}" formControlName="birthDate">
        </div>
        <div class="input-button">
            <input type="checkbox" id="agreeTerms" formControlName="agreeTerms" class="checkbox">
            <label for="agreeTerms" innerHtml="{{ 'signupPage.agreeTermsLabel' | translate }}"></label>
        </div>
        <div class="input-button">
            <button class="button" type="submit" translate>signupPage.submitButton</button>
        </div>
        <p class="message" *ngFor="let message of errorSignupMessages" translate>{{message}}</p>
    </form>
</div>