
<div class="drivers-viewer-container">

    <div class="search-container">
        <div class="page-number-selector">
          <p class="options-bar-text" translate>itemViewer.pageSelectorText</p>
          <app-page-selector [dadosCriacaoPaginas]="pageCreationData" (selectedValue)="changePage($event)"></app-page-selector>
        </div>
    
        <div class="drivers-search">
          <app-search-bar (searchContent)="changeSearch($event)"></app-search-bar>
        </div>
    
        <div class="page-number-selector">
          <p class="options-bar-text" translate>itemViewer.sortSelectorText</p>
          <app-sort-selector [possibleSorts]="sorts" (selectedValue)="changeSort($event)" (selectedOrder)="changeOrder($event)"></app-sort-selector>
        </div>
    
        <div class="page-size-selector">
          <p class="options-bar-text" translate>itemViewer.sizeSelectorText</p>
          <app-size-selector (selectedValue)="changeSize($event)"></app-size-selector>
        </div>
    
    </div>
  
    <div class="spinner-border text-primary mx-auto mt-5" style="width: 5rem; height: 5rem;" role="status" *ngIf="!hasFinishedLoadingDrivers; else driversDisplayer">
      <span class="sr-only">Loading...</span>
    </div>

    <ng-template #driversDisplayer>
      <div class="drivers-container">
        <p class="options-bar-text text-center" *ngIf="drivers.length == 0" translate>itemViewer.noDriversText</p>
        <div class="driver-template" *ngFor="let d of drivers" (click)="onClickedDriver(d)">
          <p class="driver-text">{{d.mecanographicNumber}}</p>
          <hr />
          <p class="driver-text sub-text" translate [translateParams]="{name: d.name}">driverModel.nameText</p>
          <p class="driver-text sub-text" translate [translateParams]="{date: d.birthDate}">driverModel.birthDateText</p>
          <p class="driver-text sub-text" translate [translateParams]="{cc: d.ccNumber}">driverModel.citizenCardText</p>
          <p class="driver-text sub-text" translate [translateParams]="{nif: d.nif}">driverModel.nifText</p>
          <p class="driver-text sub-text" translate [translateParams]="{d1: d.initialContractDate, d2: d.endContractDate}">driverModel.contractText</p>
          <details *ngIf="d.driverTypeCodes.length > 0">
            <summary class="driver-text sub-text" translate>driverModel.driverTypesHeader</summary>
            <p class="driver-text sub-text-n2" *ngFor="let code of d.driverTypeCodes">{{code}}</p>
          </details>
        </div>
      </div>
    </ng-template>
  </div>