
<div class="vehicle-duties-creation-container">
    <h2 translate>createVehicleDuty.headerMessage</h2>
    <form class="vehicle-duties-creation-form" (ngSubmit)="onSubmit()">
        <div class="input">
            <button type="button" mat-button (click)="openDialog()" translate>createVehicleDuty.newTripButton</button>
            <p translate [translateParams]="{number: trips.length}">createVehicleDuty.numberTripsHeader</p>
            <div class="chosen-trip-template" *ngFor="let trip of trips">
                <p translate [translateParams]="{trip: trip}">createVehicleDuty.chosenTripMessage</p>
                <button (click)="eraseTrip(trip)" translate>createVehicleDuty.deleteButton</button>
            </div>
        </div>
        <div class="input">
            <button class="button" type="submit" translate>createVehicleDuty.submitButton</button>
        </div>
    </form>
</div>