
.vehicle-duties-creation-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
}

.vehicle-duties-creation-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.vehicle-duties-creation-form label {
    width:20%;
    padding-right: 10px;
}

.input {
    flex-basis: 90%;
}

.chosen-trip-template {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-height: 24px;
    column-gap: 10px;
}

.chosen-trip-template p {
    width: 90%;
    max-width: 350px;
}

.chosen-trip-template button {
    width: 10%;
    max-width: 100px;
    max-height: 24px;
}