
<div class="visualizador-linhas-container">

  <div class="container-pesquisa">
    <div class="selector-numero-pagina">
      <p class="texto-container-pesquisa" translate>itemViewer.pageSelectorText</p>
      <app-page-selector [dadosCriacaoPaginas]="dadosCriacaoPaginas" (selectedValue)="mudarPagina($event)"></app-page-selector>
    </div>

    <div class="pesquisa-linhas">
      <app-search-bar (searchContent)="mudarPesquisa($event)"></app-search-bar>
    </div>

    <div class="selector-numero-pagina">
      <p class="texto-container-pesquisa" translate>itemViewer.sortSelectorText</p>
      <app-sort-selector [possibleSorts]="sorts" (selectedValue)="mudarSort($event)" (selectedOrder)="mudarOrdem($event)"></app-sort-selector>
    </div>

    <div class="selector-tamanho-pagina">
      <p class="texto-container-pesquisa" translate>itemViewer.sizeSelectorText</p>
      <app-size-selector (selectedValue)="mudarTamanho($event)"></app-size-selector>
    </div>

  </div>
  
  <div class="spinner-border text-primary mx-auto mt-5" style="width: 5rem; height: 5rem;" role="status" *ngIf="!hasFinishedLoadingLines; else linesDisplayer">
    <span class="sr-only">Loading...</span>
  </div>

  <ng-template #linesDisplayer>

    <div class="linhas-container">
      <p class="texto-container-pesquisa" *ngIf="linhas.length == 0" translate>itemViewer.noLinesText</p>
      <div class="linha-template" *ngFor="let linha of linhas" (click)="onClickedLine(linha)">
          <p>{{linha.codigo}}</p>
          <hr>
          <p>{{linha.nome}}</p>
      </div>
    </div>

  </ng-template>

</div>