
<div class="choose-work-block-container">
    <h2 mat-dialog-title translate>createDriverDuty.chooseWorkBlock.headerMessage</h2>
    <div mat-dialog-content>
        <app-work-blocks-viewer [unbindedsOnly]="true" (clickedWorkBlock)="onClickedWorkBlock($event)"></app-work-blocks-viewer>
    </div>
    
    <div class="input-data-container">
        <div class="input">
            <label for="workBlockCode" translate>createDriverDuty.chooseWorkBlock.workBlockCodeLabel</label>
            <input type="text" id="workBlockCode" [ngModel]="workBlockCode" (ngModelChange)="chooseWorkBlock($event)" disabled>
        </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelClick()" translate>createDriverDuty.chooseWorkBlock.cancelButton</button>
      <button mat-button (click)="onAddClick()" cdkFocusInitial translate>createDriverDuty.chooseWorkBlock.addButton</button>
    </div>
</div>