
.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    padding-top: 56px;
    flex-grow: 1;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: #333333;
    display: block;
}

.footer-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding-top: 15px;
}

.message {
    text-align: center;
    color: white;
    font-size: 16px;
    margin-bottom: 0;
    flex-grow: 1;
    flex-basis: 25%;
}

.special-message {
    color: white;
    font-size: 14px;
    padding: 20px 0px 5px 30px;
    flex-basis: 100%;
}

.main-navbar {
    position: fixed;
    width: 100vw;
    z-index: 100;
}

.account-icon-container {
    width: 50px;
    height: 100%;
    padding: 0;
    margin: 0;
    padding-top: 5px;
}

.image {
    max-width: 100%;
    max-height: 100%;
}
