
<div class="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark main-navbar">
    <a class="navbar-brand" [routerLink]="['/']" translate>mainPage.homeText</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="role == 'DATA_ADMINISTRATOR'">
          <a class="nav-link" [routerLink]="['/rede']" [translate]="'mainPage.networkText'"></a>
        </li>
        <li class="nav-item"  *ngIf="role == 'DATA_ADMINISTRATOR'">
          <a class="nav-link" [routerLink]="['/travel']" [translate]="'mainPage.travelsText'"></a>
        </li>
        <li class="nav-item" *ngIf="role == 'MANAGER'">
          <a class="nav-link" [routerLink]="['/planning']" [translate]="'mainPage.planningText'"></a>
        </li>
        <li class="nav-item" *ngIf="role == 'CLIENT'">
          <a class="nav-link" [routerLink]="['/view']" [translate]="'mainPage.visualizationText'"></a>
        </li>
      </ul>
      <div class="navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate>mainPage.languageLabel</a>
              <div class="dropdown-menu" aria-labelledby="dropdown09">
                  <p class="dropdown-item" (click)="changeLanguage('en')" translate><span class="flag-icon flag-icon-gb"></span> mainPage.englishLabel</p>
                  <p class="dropdown-item" (click)="changeLanguage('pt')" translate><span class="flag-icon flag-icon-pt"></span> mainPage.portugueseLabel</p>
              </div>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated == false">
            <a class="nav-link" [routerLink]="['/signup']" [translate]="'mainPage.signupText'"></a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated == false">
            <a class="nav-link" [routerLink]="['/login']" [translate]="'mainPage.loginText'"></a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link account-icon-container" [routerLink]="['/account']">
              <img class="image" src="/assets/main-page/accountIcon.png" alt="image">
            </a>
          </li>
          <li *ngIf="isAuthenticated">
            <a class="nav-link" (click)="logout()" [translate]="'mainPage.logoutText'"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  
  <footer class="footer">
    <div class="footer-container">
      <a class="message" [routerLink]="['/privacy']" translate>mainPage.privacyText</a>
      <a class="message" [routerLink]="['/terms']" translate>mainPage.termsText</a>
      <a class="message" [routerLink]="['/contacts']" translate>mainPage.contactsText</a>
      <a class="message" [routerLink]="['/about']" translate>mainPage.aboutUsText</a>
      <p class="special-message" translate>mainPage.reservedRightsText</p>
    </div>
  </footer>
</div>