<div class="choose-vehicle-duty-container">
    <h2 mat-dialog-title translate>createWorkBlock.chooseVehicleDuty.headerMessage</h2>
    <div mat-dialog-content>
        <app-vehicle-duties-viewer [unbindedsOnly]="true" (clickedVehicleDuty)="onClickedVehicleDuty($event)"></app-vehicle-duties-viewer>
    </div>
    
    <div class="input-data-container">
        <div class="input">
            <label for="vehicleDutyCode" translate>createWorkBlock.chooseVehicleDuty.vehicleDutyCodeLabel</label>
            <input type="text" id="vehicleDutyCode" [ngModel]="vehicleDutyCode" (ngModelChange)="chooseVehicleDuty($event)" disabled>
        </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelClick()" translate>createWorkBlock.chooseVehicleDuty.cancelButton</button>
      <button mat-button (click)="onAddClick()" cdkFocusInitial translate>createWorkBlock.chooseVehicleDuty.addButton</button>
    </div>
</div>