
<div class="vehicle-duties-displayer-container">

    <div class="new-vehicle-duty-button">
      <a [routerLink]="['../newVehicleDuty']">
        <button translate>viewVehicleDuties.newVehicleDutyButton</button>
      </a>
    </div>
    
    <app-vehicle-duties-viewer></app-vehicle-duties-viewer>
  
</div>