
.login-form-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
}

.login-form-container h2 {
    margin: 0 auto;
}

.login-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-basis: 90%;
    padding-top: 30px;
}

.login-form {
    flex-grow: 1;
    flex-basis: 45%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    column-gap: 20px;
    row-gap: 20px;
    font-size: 24px;
    border-style: none solid none none;
    padding-right: 20px;
    width: 50%;
}

.login-info-container {
    flex-grow: 1;
    padding-left: 20px;
    width: 50%;
    display: flex;
    flex-flow: column wrap;
}

.login-form label {
    width:90%;
    padding-right: 10px;
}

.login-form input, button {
    height: 40px;
    width: 100%;
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

.input {
    max-width:400px;
    flex-basis: 90%;
}

.input p {
    font-size: 18px;
    color: red;
}

.login-info-container p {
    flex: 1;
}

.sentence p {
    display: inline;

}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 200;
    cursor: pointer;
} 