
<div class="login-form-container">
    <div class="overlay" *ngIf="isLoggingIn">
        <div class="spinner-border text-primary" style="position: fixed; width: 5rem; height: 5rem; bottom: 50%; right: 50%" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <h2 translate>login.headerMessage</h2>
    <div class="login-container">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input">
                <label for="username" translate>login.usernameLabel</label>
                <input type="text" id="username" formControlName="username">
            </div>
            <div class="input">
                <label for="password" translate>login.passwordLabel</label>
                <input type="password" id="password" formControlName="password">
            </div>
            <div class="input">
                <button class="button" type="submit" translate>login.submitButton</button>
                <div *ngFor="let message of errorLoginMessages">
                    <p translate>{{message}}</p>
                </div>
            </div>
        </form>
        <div class="login-info-container">
            <p innerHTML="{{ 'login.termsAndPrivacyMessage' | translate }}"></p>
            <p innerHTML="{{ 'login.signupMessage' | translate }}"></p>
            <p innerHTML="{{ 'login.forgotPasswordMessage' | translate }}"></p>
        </div>
    </div>
</div>