
<div class="visualizador-percursos-container">

    <div class="container-pesquisa" *ngIf="shouldShowOptionsBar">

      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa" translate>itemViewer.pageSelectorText</p>
        <app-page-selector [dadosCriacaoPaginas]="dadosCriacaoPaginas" (selectedValue)="mudarPagina($event)"></app-page-selector>
      </div>

      <div class="pesquisa-linhas">
        <app-search-bar (searchContent)="mudarPesquisa($event)"></app-search-bar>
      </div>

      <div class="selector-numero-pagina">
        <p class="texto-container-pesquisa" translate>itemViewer.sortSelectorText</p>
        <app-sort-selector [possibleSorts]="sorts" (selectedValue)="mudarSort($event)" (selectedOrder)="mudarOrdem($event)"></app-sort-selector>
      </div>

      <div class="selector-tamanho-pagina">
        <p class="texto-container-pesquisa" translate>itemViewer.sizeSelectorText</p>
        <app-size-selector (selectedValue)="mudarTamanho($event)"></app-size-selector>
      </div>

    </div>

    <div class="spinner-border text-primary mx-auto mt-5" style="width: 5rem; height: 5rem;" role="status" *ngIf="!hasFinishedLoadingPaths; else pathsDisplayer">
      <span class="sr-only">Loading...</span>
    </div>

    <ng-template #pathsDisplayer>
      <div class="percursos-container">
        <p class="texto-container-pesquisa" *ngIf="percursos.length == 0" translate>itemViewer.noPathsText</p>
        <div class="percurso-template" *ngFor="let percurso of percursos" (click)="onClickedPath(percurso)">
            <p class="codigo-percurso">{{percurso.codigo}}</p>
            <hr/>
            <p class="label-percurso" translate>pathModel.pathText</p>
            <p class="campo-percurso">{{percurso.descricao}}</p>
            <div class="dados-percurso-container">
            <p class="campo-percurso" translate [translateParams]="{dist: percurso.distanciaTotal}">pathModel.distanceText</p>
            <p class="campo-percurso" translate [translateParams]="{dur: percurso.duracaoTotal}">pathModel.durationText</p>
        </div>
        </div>
      </div>
    </ng-template>

</div>