<div class="drivers-creation-container">
    <h2 translate>createDriver.headerMessage</h2>
    <form class="drivers-creation-form" [formGroup]="createDriverForm" (ngSubmit)="onSubmit(createDriverForm.value)">
        <div class="input">
            <label for="mecanographicNumber" translate>createDriver.mecanographicNumberLabel</label>
            <input type="text" id="mecanographicNumber" formControlName="mecanographicNumber">
        </div>
        <div class="input">
            <label for="name" translate>createDriver.nameLabel</label>
            <input type="text" id="name" formControlName="name">
        </div>
        <div class="input">
            <label for="birthDate" translate>createDriver.birthDateLabel</label>
            <input type="date" id="birthDate" required pattern="\d{4}-\d{2}-\d{2}" formControlName="birthDate">
        </div>
        <div class="input">
            <label for="ccNumb" translate>createDriver.ccNumbLabel</label>
            <input type="text" id="ccNumb" formControlName="ccNumb">
        </div>
        <div class="input">
            <label for="nif" translate>createDriver.nifLabel</label>
            <input type="text" id="nif" formControlName="nif">
        </div>
        <div class="input">
            <label for="initialContractDate" translate>createDriver.initialContractDateLabel</label>
            <input type="date" id="initialContractDate" required pattern="\d{4}-\d{2}-\d{2}" formControlName="initialContractDate">
        </div>
        <div class="input">
            <label for="endContractDate" translate>createDriver.endContractDateLabel</label>
            <input type="date" id="endContractDate" required pattern="\d{4}-\d{2}-\d{2}" formControlName="endContractDate">
        </div>
        <div class="driver-type-input">
            <button type="button" mat-button (click)="openDialog()" translate>createDriver.chooseDriverTypeButton</button>
            <p translate [translateParams]="{number: chosenTypeCodes.length}">createDriver.numberDriverTypesHeader</p>
            <div class="chosen-driver-type-template" *ngFor="let driverType of chosenTypeCodes">
                <p translate [translateParams]="{DriverType: driverType}">createDriver.chosenDriverTypeMessage</p>
                <button (click)="eraseDriverType(driverType)" translate>createDriver.deleteButton</button>
            </div>
        </div>
        <div class="input-button">
            <button class="button" type="submit" translate>createDriver.submitButton</button>
        </div>
    </form>
</div>