
.drivers-creation-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
}

.drivers-creation-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.drivers-creation-form label {
    width:auto;
    max-width: 250px;
    padding-right: 10px;
}

.input {
    flex-basis: 45%;
    max-width: 750px;
}

.driver-type-input {
    flex-basis: 90%;
}

.input-button {
    flex-basis: 100%;
}

.chosen-driver-type-template {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-height: 24px;
    column-gap: 10px;
}

.chosen-driver-type-template p {
    width: 90%;
    max-width: 350px;
}

.chosen-driver-type-template button {
    width: 10%;
    max-width: 100px;
    max-height: 24px;
}