
.travel {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    max-width: 100%;
}

.travel-menu-container {
    background-color: #262626;
    flex-grow: 1;
    flex-basis: 20%;
}

.travel-menu {
    position: sticky;
    top: 110px;
}

.travel-menu-element {
    width: 100%;
    font-size: 18px;
    font-family: 'Lucida Sans';
    font-weight: bold;
    color: #c2c1c1;
    text-decoration: none;
    text-align: center;
}

.travel-menu-element:hover, .travel-menu-element:focus {
    color: #747373;
}

.travel-displayer {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-basis: 80%;
}