
<div class="travel">
    <div class="travel-menu-container">
        <div class="travel-menu">
            <a class="travel-menu-element" [routerLink]="['./vehicles']">
                <p translate>travelPage.vehiclesText</p>
            </a>
            <a class="travel-menu-element" [routerLink]="['./drivers']">
                <p translate>travelPage.driversText</p>
            </a>
            <a class="travel-menu-element" [routerLink]="['./trips']">
                <p translate>travelPage.tripsText</p>
            </a>
            <a class="travel-menu-element" [routerLink]="['./vehicleDuties']">
                <p translate>travelPage.vehicleDutiesText</p>
            </a>
            <a class="travel-menu-element" [routerLink]="['./workBlocks']">
                <p translate>travelPage.workBlocksText</p>
            </a>
            <a class="travel-menu-element" [routerLink]="['./driverDuties']">
                <p translate>travelPage.driverDutiesText</p>
            </a>
            <a class="travel-menu-element" [routerLink]="['./importation']">
                <p translate>travelPage.importationText</p>
            </a>
        </div>
    </div>
    <div class="travel-displayer">
        <router-outlet></router-outlet>
    </div>
</div>