  
.visualizacao-nos-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  padding-top: 10px;
}

.novo-no-button {
  width: initial;
}

.novo-no-button button {
  height: 30px;
  border-radius: 8px;
}