
.trips-displayer-container {
    display: flex;
    flex-flow: column;
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
    max-width: 1020px;
  }

  .new-trip-button {
    width: initial;
  }

  .new-trip-button button {
    height: 30px;
    border-radius: 8px;
  }
