
<div class="trips-displayer-container">

    <div class="new-trip-button">
      <a [routerLink]="['../newTrip']">
        <button translate>viewTrips.newTripButton</button>
      </a>
    </div>
    
    <app-trips-viewers></app-trips-viewers>
  
</div>