
<div class="adicao-tipo-viatura-container">
    <h2 mat-dialog-title translate>createLine.addVehicleType.headerMessage</h2>
    <div mat-dialog-content>
        <visualizador-tipos-viaturas (tipoViaturaClicada)="onClickedVehicleType($event)"></visualizador-tipos-viaturas>
    </div>
    <div class="input">
        <label for="codTipoViatura" translate>createLine.addVehicleType.codeLabel</label>
        <input type="text" id="codTipoViatura" [ngModel]="codTipoViatura" (ngModelChange)="adicionarCodigoTipoViatura($event)">
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelarClick()" translate>createLine.addVehicleType.cancelButton</button>
      <button mat-button (click)="onAdicionarClick()" cdkFocusInitial translate>createLine.addVehicleType.addButton</button>
    </div>
</div>