
<div class="canvas-container">
    <canvas class="canvas" id="mapa"></canvas>
    <p style="color: white;">{{message}}</p>
</div>
<div id="tooltip" [ngStyle]="{'left': tooltipPosition.x, 'top': tooltipPosition.y}" *ngIf="tooltipData">
    <p>{{tooltipData.abreviatura}}</p>
    <p>Latitude: {{tooltipData.latitude}}</p>
    <p>Longitude: {{tooltipData.longitude}}</p>
    <p>{{tooltipData.tipoNo}}</p>
</div>
<div id="tooltip" [ngStyle]="{'left': tooltipPosition.x, 'top': tooltipPosition.y}" *ngIf="tooltipSegmentData">
    <p>{{tooltipSegmentData.linha.codigo}}</p>
    <p>Percurso: {{tooltipSegmentData.codigoPercurso}}</p>
    <p>{{tooltipSegmentData.orientacao}}</p>
</div>