
<div class="driver-duties-displayer-container">

    <div class="new-driver-duty-button">
      <a [routerLink]="['../newDriverDuty']">
        <button translate>viewDriverDuties.newDriverDutyButton</button>
      </a>
    </div>
    
    <app-driver-duties-viewer></app-driver-duties-viewer>
  
</div>