
<div class="choose-driver-type-container">
    <h2 mat-dialog-title translate>createDriver.chooseDriverType.headerMessage</h2>
    <div mat-dialog-content>
        <visualizador-tipos-tripulantes (tipoTripulanteClicada)="onClickedDriverType($event)"></visualizador-tipos-tripulantes>
    </div>
    
    <div class="input-data-container">
        <div class="input">
            <label for="driverType" translate>createDriver.chooseDriverType.driverTypeLabel</label>
            <input type="text" id="driverType" [ngModel]="driverType" (ngModelChange)="chooseDriverType($event)" disabled>
        </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelClick()" translate>createDriver.chooseDriverType.cancelButton</button>
      <button mat-button (click)="onAddClick()" cdkFocusInitial translate>createDriver.chooseDriverType.addButton</button>
    </div>
</div>