
<div class="criacao-tipos-viaturas-container">
    <h2 translate>createVehicleType.headerMessage</h2>
    <form class="criacao-tipos-viaturas-form" [formGroup]="formCriacaoTipoViatura" (ngSubmit)="onSubmit(formCriacaoTipoViatura.value)">
        <div class="input-tipos-combustiveis">
            <label for="tipoComb" translate>createVehicleType.fuelTypeLabel</label>
            <select name="tipoComb" id="tipoComb" formControlName="tipoComb" #selectElem (change)="onChangeTipoCombustivel(selectElem.value)">
                <option *ngFor="let tipoComb of tiposComb; let i='index'" [value]="i" translate>{{tipoComb.descricao}}</option>
            </select>
        </div>
        <div class="input">
            <label for="codigo" translate>createVehicleType.codeLabel</label>
            <input type="text" id="codigo" formControlName="codigo">
        </div>
        <div class="input">
            <label for="autonomia" translate>createVehicleType.autonomyLabel</label>
            <input type="number" id="autonomia" formControlName="autonomia">
        </div>
        <div class="input">
            <label for="custo" translate>createVehicleType.costLabel</label>
            <input type="number" step="0.01" id="custo" formControlName="custo">
        </div>
        <div class="input">
            <label for="velocidade" translate>createVehicleType.averageSpeedLabel</label>
            <input type="number" id="velocidade" formControlName="velocidade">
        </div>
        <div class="input">
            <label for="emissoes" translate>createVehicleType.emissionsLabel</label>
            <input type="number" id="emissoes" formControlName="emissoes">
        </div>
        <div class="input" *ngIf="unidade">
            <label for="consumo" translate [translateParams]="{units: unidade}">createVehicleType.consumptionLabel</label>
            <input type="number" step="0.01" id="consumo" formControlName="consumo">
        </div>
        <div class="input-descricao">
            <label for="descricao" translate>createVehicleType.descriptionLabel</label>
            <textarea id="descricao" formControlName="descricao"></textarea>
        </div>
        <div class="input-button">
            <button class="button" type="submit" translate>createVehicleType.submitButton</button>
        </div>
    </form>
</div>