
<div class="work-blocks-viewer-container">
  <div class="search-container">
    <div class="page-number-selector">
      <p class="options-bar-text" translate>itemViewer.pageSelectorText</p>
      <app-page-selector [dadosCriacaoPaginas]="pageCreationData" (selectedValue)="changePage($event)"></app-page-selector>
    </div>

    <div class="page-size-selector">
      <p class="options-bar-text" translate>itemViewer.sizeSelectorText</p>
      <app-size-selector (selectedValue)="changeSize($event)"></app-size-selector>
    </div>
  </div>

  <div class="spinner-border text-primary mx-auto mt-5" style="width: 5rem; height: 5rem;" role="status" *ngIf="!hasFinishedLoadingWorkBlocks; else workBlocksDisplayer">
    <span class="sr-only">Loading...</span>
  </div>
  
  <ng-template #workBlocksDisplayer>
    <div class="work-blocks-container">
      <p class="options-bar-text text-center" *ngIf="workBlocks.length == 0" translate>itemViewer.noWorkBlocksText</p>
      <div class="work-block-template" *ngFor="let wb of workBlocks" (click)="onClickedWorkBlock(wb)">
        <p>{{wb.code}}</p>
        <hr>
        <p translate [translateParams]="{NumberTrips: wb.listTrips.length}">workBlockModel.numberVehicleDutiesText</p>
      </div>
    </div>
  </ng-template>
</div>