
.order-button {
    font-size: 24px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: red;
    margin: 0;
    padding: 0 10px;
}