
<div class="sort-selector">
    <select name="sort" id="sort" [(ngModel)]='chosenSort' (change)="onSelection($event)">
        <option *ngFor="let value of possibleSorts" [value]="value" translate>{{value}}</option>
    </select>
    <button class="order-button" type="button" (click)="changeOrder()" *ngIf="isDescending; else upArrowButton">↓</button>
    <ng-template #upArrowButton>
        <button class="order-button" type="button" (click)="changeOrder()">↑</button>
    </ng-template>
</div>