
<div class="importacao-container">
    <h2 translate>importData.headerMessage</h2>
    <div class="importacao-form">
        <label for="ficheiro" translate>importData.fileLabel</label>
        <input type="file" id="ficheiro" (change)="onFileChange($event)">
        <button (click)="onSubmit()" type="button" translate>importData.submitButton</button>
    </div>

    <div class="resultados-container">
        <div class="header-resultados-container">
            <div class="importacao-template" *ngFor="let import of importacoes">
                <p translate>{{import.mensagem}}</p>
            </div>
        </div>
    </div>

</div>
