
.importacao-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
}

.importacao-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.importacao-form label {
    width:40%;
    max-width: 80px;
    padding-right: 10px;
}

.importacao-form button {
    width:40%;
    max-width: 120px;
}