
.main-page-container {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    justify-content: center;
    margin: 0 auto;
    row-gap: 30px;
    column-gap: 100px;
}

.main-page-header {
    text-align: center;
    font-size: 40px;
    color: #dfdfcb;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-basis: 90%;
}

.main-page-section {
    width: 90%;
    max-width: 500px;
    align-self: center;
}

.section-title {
    font-size: 32px;
    color: #cbcba9;
}

.section-text {
    text-indent: 30px;
    font-size: 24px;
    color: white;
}

.image {
    max-width: 100%;
    max-height: 100%;
}

.line {
    width:100%;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
}