
<div class="main-page-container">
    <h2 class="main-page-header" translate>mainPage.headerText</h2>
    <div class="main-page-section">
        <h3 class="section-title" translate>mainPage.whoAreWeHeader</h3>
        <p class="section-text" translate>mainPage.whoAreWeText</p>
    </div>
    <div class="main-page-section">
        <img class="image" src="/assets/main-page/transports.jpg" alt="image">
    </div>
    <hr class="line"/>
    <div class="main-page-section">
        <img class="image" src="/assets/main-page/transports2.jpg" alt="image">
    </div>
    <div class="main-page-section">
        <h3 class="section-title" translate>mainPage.whatWeWantHeader</h3>
        <p class="section-text" translate>mainPage.whatWeWantText</p>
    </div>
    <hr class="line"/>
    <div class="main-page-section">
        <h3 class="section-title" translate>mainPage.isItFreeHeader</h3>
        <p class="section-text" translate>mainPage.isItFreeText</p>
    </div>
    <div class="main-page-section">
        <img class="image" src="/assets/main-page/transports3.jpg" alt="image">
    </div>
    <hr class="line"/>
    <h2 class="main-page-header" translate>mainPage.needLoginHeader</h2>
    <hr class="line"/>
</div>