
<div class="trips-viewer-container">
  <div class="search-container">

    <div class="page-number-selector">
      <p class="options-bar-text" translate>itemViewer.filterSelectorText</p>
      <app-filters-selector [possibleFilters]="filters" (selectedValue)="changeFilter($event)"></app-filters-selector>
    </div>

    <div class="page-number-selector">
      <p class="options-bar-text" translate>itemViewer.pageSelectorText</p>
      <app-page-selector [dadosCriacaoPaginas]="pageCreationData" (selectedValue)="changePage($event)"></app-page-selector>
    </div>

    <div class="page-number-selector">
      <p class="options-bar-text" translate>itemViewer.sortSelectorText</p>
      <app-sort-selector [possibleSorts]="sorts" (selectedValue)="changeSort($event)" (selectedOrder)="changeOrder($event)"></app-sort-selector>
    </div>

    <div class="page-size-selector">
      <p class="options-bar-text" translate>itemViewer.sizeSelectorText</p>
      <app-size-selector (selectedValue)="changeSize($event)"></app-size-selector>
    </div>
  </div>
  
  <div class="spinner-border text-primary mx-auto mt-5" style="width: 5rem; height: 5rem;" role="status" *ngIf="!hasFinishedLoadingTrips; else tripsDisplayer">
    <span class="sr-only">Loading...</span>
  </div>

  <ng-template #tripsDisplayer>
    <div class="trips-container">
      <p class="options-bar-text text-center" *ngIf="trips.length == 0" translate>itemViewer.noTripsText</p>
      <div class="trip-template" *ngFor="let trip of trips" (click)="onClickedTrip(trip)">
        <p>{{trip.code}}</p>
        <hr>
        <p translate [translateParams]="{Line: trip.line}">tripModel.lineText</p>
        <p translate [translateParams]="{Path: trip.path}">tripModel.pathText</p>
        <p translate [translateParams]="{StartTime: trip.startHour}">tripModel.startTimeText</p>
      </div>
    </div>
  </ng-template>
</div>