
.work-blocks-creation-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
}

.work-blocks-creation-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.work-blocks-creation-form label {
    width:30%;
    padding-right: 10px;
}

.input {
    flex-basis: 90%;
}

.chosen-vehicle-duty-template {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-height: 24px;
    column-gap: 10px;
}

.chosen-vehicle-duty-template p {
    width: 90%;
    max-width: 500px;
}

.chosen-vehicle-duty-template button {
    width: 10%;
    max-width: 100px;
    max-height: 24px;
}