
<div class="work-blocks-creation-container">
    <h2 translate>createWorkBlock.headerMessage</h2>
    <form class="work-blocks-creation-form" [formGroup]="createWorkBlockForm" (ngSubmit)="onSubmit(createWorkBlockForm.value)">
        <div class="input">
            <label for="maxBlockDuration" translate>createWorkBlock.maxBlockDurationLabel</label>
            <input type="number" id="maxBlockDuration" formControlName="maxBlockDuration">
        </div>
        <div class="input">
            <label for="maxNumberBlocks" translate>createWorkBlock.maxNumberBlocksLabel</label>
            <input type="number" id="maxNumberBlocks" formControlName="maxNumberBlocks">
        </div>
        <div class="input">
            <button type="button" mat-button (click)="openDialog()" translate>createWorkBlock.newVehicleDutyButton</button>
            <p translate [translateParams]="{number: vehicleDuties.length}">createWorkBlock.numberVehicleDutiesHeader</p>
            <div class="chosen-vehicle-duty-template" *ngFor="let vehicleDuty of vehicleDuties">
                <p translate [translateParams]="{vehicleDuty: vehicleDuty}">createWorkBlock.chosenVehicleDutyMessage</p>
                <button (click)="eraseVehicleDuty(vehicleDuty)" translate>createWorkBlock.deleteButton</button>
            </div>
        </div>
        <div class="input">
            <button class="button" type="submit" translate>createWorkBlock.submitButton</button>
        </div>
    </form>
</div>