
<div class="importation-container">
    <h2 translate>travelImport.headerMessage</h2>
    <div class="importation-form">
        <label for="file" translate>travelImport.fileLabel</label>
        <input type="file" id="file" (change)="onFileChange($event)">
        <button (click)="onSubmit()" type="button" translate>travelImport.submitButton</button>
    </div>

    <div class="importation-results-container">
        <details *ngIf="parsingErrors.length > 0">
            <summary translate>travelImport.fileProblemsSummary</summary>
            <p class="error-message" *ngFor="let error of parsingErrors" translate [translateParams]="{error : error}">travelImport.fileProblemsDescription</p>
        </details>
        <details *ngIf="trips.length > 0">
            <summary translate>travelImport.tripsSummary</summary>
            <div class="select-all-displayer">
                <p translate>travelImport.selectAllText</p>
                <input type="checkbox" (click)="selectAllTrips()" [checked]="isAllTripsSelected"/>
            </div>
            <div class="results-displayer">
                <div *ngFor="let t of trips; let i = index" (click)="onSelectedTrip(i)"
                    [ngClass]="{'unselected-message' : !isTripSelected(i), 'selected-message' : isTripSelected(i)}">
                    <p translate [translateParams]="{code : t.code}">travelImport.tripCodeText</p>
                    <p translate [translateParams]="{line : t.line}">travelImport.tripLineText</p>
                    <p translate [translateParams]="{path : t.path}">travelImport.tripPathText</p>
                    <p translate [translateParams]="{hour : t.startHour}">travelImport.tripHourText</p>
                </div>
            </div>
        </details>
        <details *ngIf="vehicleDuties.length > 0">
            <summary translate>travelImport.vehicleDutiesSummary</summary>
            <div class="select-all-displayer">
                <p translate>travelImport.selectAllText</p>
                <input type="checkbox" (click)="selectAllVehicleDuties()" [checked]="isAllVehicleDutiesSelected"/>
            </div>
            <div class="results-displayer">
                <div *ngFor="let vd of vehicleDuties; let i = index" (click)="onSelectedVehicleDuty(i)"
                    [ngClass]="{'unselected-message' : !isVehicleDutySelected(i), 'selected-message' : isVehicleDutySelected(i)}">
                    <p translate [translateParams]="{code : vd.code}">travelImport.vehicleDutyCodeText</p>
                    <details>
                        <summary translate>travelImport.vehicleDutyTripHeader</summary>
                        <p class="codes-text" *ngFor="let t of vd.trips" translate [translateParams]="{code : t}">travelImport.vehicleDutyTripCodeText</p>
                    </details>
                </div>
            </div>
        </details>
        <details *ngIf="workBlocks.length > 0">
            <summary translate>travelImport.workBlocksSummary</summary>
            <div class="select-all-displayer">
                <p translate>travelImport.selectAllText</p>
                <input type="checkbox" (click)="selectAllWorkBlocks()" [checked]="isAllWorkBlocksSelected"/>
            </div>
            <div class="results-displayer">
                <div *ngFor="let wb of workBlocks; let i = index" (click)="onSelectedWorkBlock(i)"
                    [ngClass]="{'unselected-message' : !isWorkBlockSelected(i), 'selected-message' : isWorkBlockSelected(i)}">
                    <details>
                        <summary translate>travelImport.workBlockCodeHeader</summary>
                        <p class="codes-text" *ngFor="let c of wb.codes" translate [translateParams]="{code : c}">travelImport.workBlockCodeText</p>
                    </details>
                    <details>
                        <summary translate>travelImport.workBlockVehicleDutyHeader</summary>
                        <p class="codes-text" *ngFor="let vd of wb.vehicleDuties" translate [translateParams]="{code : vd}">travelImport.workBlockVehicleDutyText</p>
                    </details>
                    <p translate [translateParams]="{blocks : wb.numberMaxBlocks}">travelImport.numberBlocksText</p>
                    <p translate [translateParams]="{maxDur : wb.maxBlockDuration}">travelImport.maxDurationText</p>
                </div>
            </div>
        </details>
        <details *ngIf="driverDuties.length > 0">
            <summary translate>travelImport.drivarDutiesSummary</summary>
            <div class="select-all-displayer">
                <p translate>travelImport.selectAllText</p>
                <input type="checkbox" (click)="selectAllDriverDuties()" [checked]="isAllDriverDutiesSelected"/>
            </div>
            <div class="results-displayer">
                <div *ngFor="let dd of driverDuties; let i = index" (click)="onSelectedDriverDuty(i)"
                    [ngClass]="{'unselected-message' : !isDriverDutySelected(i), 'selected-message' : isDriverDutySelected(i)}">
                    <p translate [translateParams]="{code : dd.code}">travelImport.driverDutyCodeText</p>
                    <details>
                        <summary translate>travelImport.driverDutyWorkBlockHeader</summary>
                        <p class="codes-text" *ngFor="let wb of dd.workBlocks" translate [translateParams]="{code : wb}">travelImport.driverDutyWorkBlockText</p>
                    </details>
                </div>
            </div>
        </details>
        <p class="message" *ngFor="let error of processingErrors" translate>{{error}}</p>
        <button  *ngIf="isFileSubmitted" (click)="onTravelsSubmit()" type="button" translate>travelImport.registerEntitiesButton</button>
        <details *ngIf="tripsMessages.length > 0">
            <summary translate>travelImport.registeredTripsDetailsSummary</summary>
            <p class="message" *ngFor="let message of tripsMessages">{{message}}</p>
        </details>
        <details *ngIf="vehicleDutiesMessages.length > 0">
            <summary translate>travelImport.registeredVehicleDutiesDetailsSummary</summary>
            <p class="message" *ngFor="let message of vehicleDutiesMessages">{{message}}</p>
        </details>
        <details *ngIf="workBlockMessages.length > 0">
            <summary translate>travelImport.registeredWorkBlocksDetailsSummary</summary>
            <p class="message" *ngFor="let message of workBlockMessages">{{message}}</p>
        </details>
        <details *ngIf="driverDutiesMessages.length > 0">
            <summary translate>travelImport.registeredDriverDutiesDetailsSummary</summary>
            <p class="message" *ngFor="let message of driverDutiesMessages">{{message}}</p>
        </details>
    </div>
</div>
