
.importation-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
}

.importation-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.importation-form label {
    width:80%;
    padding-right: 10px;
}

.importation-form button {
    width:40%;
    max-width: 180px;
}

.error-message {
    color: red;
    font-size: 16px;
    margin-bottom: 0;
}

.selected-message {
    background-image: linear-gradient(135deg, #8ceb2d, #c3ff87);
    color: #565754;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    padding:10px;
    border-radius: 5px;
    width: 90%;
    max-width: 200px;
}

.unselected-message {
    background-image: linear-gradient(135deg, #ff2c00, #ff8970);
    color: #565754;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    padding:10px;
    border-radius: 5px;
    width: 90%;
    max-width: 200px;
}

.message {
    color: white;
    font-size: 18px;
    margin-bottom: 0;
}

.results-displayer {
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: flex-start;
    width: 100%;
}

.importation-results-container button {
    margin-top: 30px;
    margin-bottom: 30px;
}

.codes-text {
    text-indent: 15px;
    font-weight: bold;
    margin-bottom: 0px;
}

.select-all-displayer {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    margin-bottom: 10px;
    margin-top: 10px;
}

.select-all-displayer p {
    font-size: 20px;
    margin-bottom: 0;
    padding-right: 10px;
}

.select-all-displayer input {
    width: 20px;
    height: 30px;
}