
<div class="choose-trip-container">
    <h2 mat-dialog-title translate>createVehicleDuty.chooseTrip.headerMessage</h2>
    <div mat-dialog-content>
        <app-trips-viewers [unbindedsOnly]="true" (clickedTrip)="onClickedTrip($event)"></app-trips-viewers>
    </div>
    
    <div class="input-data-container">
        <div class="input">
            <label for="tripCode" translate>createVehicleDuty.chooseTrip.lineCodeLabel</label>
            <input type="text" id="tripCode" [ngModel]="tripCode" (ngModelChange)="chooseTrip($event)" disabled>
        </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelClick()" translate>createVehicleDuty.chooseTrip.cancelButton</button>
      <button mat-button (click)="onAddClick()" cdkFocusInitial translate>createVehicleDuty.chooseTrip.addButton</button>
    </div>
</div>