
<div class="driver-duties-creation-container">
    <h2 translate>createDriverDuty.headerMessage</h2>
    <form class="driver-duties-creation-form">
        <div class="input">
            <button type="button" mat-button (click)="openDialog()" translate>createDriverDuty.newWorkBlockButton</button>
            <p translate [translateParams]="{number: workBlocks.length}">createDriverDuty.numberWorkBlocksHeader</p>
            <div class="chosen-work-block-template" *ngFor="let workBlock of workBlocks; let i = index">
                <p translate [translateParams]="{workBlock: workBlock}">createDriverDuty.chosenWorkBlockMessage</p>
                <button (click)="eraseWorkBlock(i)" translate>createDriverDuty.deleteButton</button>
            </div>
        </div>
        <div class="input">
            <button class="button" type="submit" (click)="onSubmit()" translate>createDriverDuty.submitButton</button>
        </div>
        <div class="input">
            <p class="message" *ngFor="let message of messages" translate>{{message}}</p>
        </div>
    </form>
</div>