
<div class="criacao-linhas-container">
    <h2 translate>createLine.headerMessage</h2>
    <form class="criacao-linhas-form" [formGroup]="formCriacaoLinha" (ngSubmit)="onSubmit(formCriacaoLinha.value)">
        <div class="input">
            <label for="codigo" translate>createLine.codeLabel</label>
            <input type="text" id="codigo" formControlName="codigo">
        </div>
        <div class="input">
            <label for="nome" translate>createLine.nameLabel</label>
            <input type="text" id="nome" formControlName="nome">
        </div>
        <div class="input-extra">
            <button type="button" mat-button (click)="openDialogAdicaoPercursoIda()" translate>createLine.newGoPathButton</button>
            <p translate [translateParams]="{number: percursosIda.length}">createLine.goPathHeader</p>
            <div class="template-percursos" *ngFor="let percurso of percursosIda">
                <p>{{percurso}}</p>
                <button (click)="eliminarPercursoIda(percurso)" translate>createLine.deleteButton</button>
            </div>
        </div>
        <div class="input-extra">
            <button type="button" mat-button (click)="openDialogAdicaoPercursoVolta()" translate>createLine.newReturnPathButton</button>
            <p translate [translateParams]="{number: percursosVolta.length}">createLine.returnPathHeader</p>
            <div class="template-percursos" *ngFor="let percurso of percursosVolta">
                <p>{{percurso}}</p>
                <button (click)="eliminarPercursoVolta(percurso)" translate>createLine.deleteButton</button>
            </div>
        </div>
        <div class="input-extra">
            <button type="button" mat-button (click)="openDialogAdicaoPercursoReforco()" translate>createLine.newReinforcementPathButton</button>
            <p translate [translateParams]="{number: percursosReforco.length}">createLine.reinforcementPathHeader</p>
            <div class="template-percursos" *ngFor="let percurso of percursosReforco">
                <p>{{percurso}}</p>
                <button (click)="eliminarPercursoReforco(percurso)" translate>createLine.deleteButton</button>
            </div>
        </div>
        <div class="input-extra">
            <button type="button" mat-button (click)="openDialogAdicaoPercursoVazio()" translate>createLine.newEmptyPathButton</button>
            <p translate [translateParams]="{number: percursosVazio.length}">createLine.emptyPathHeader</p>
            <div class="template-percursos" *ngFor="let percurso of percursosVazio">
                <p>{{percurso}}</p>
                <button (click)="eliminarPercursoVazio(percurso)" translate>createLine.deleteButton</button>
            </div>
        </div>
        <div class="input-extra">
            <button type="button" mat-button (click)="openDialogAdicaoTipoViatura()" translate>createLine.newVehicleTypeButton</button>
            <p translate [translateParams]="{number: tiposViaturas.length}">createLine.vehicleTypesHeader</p>
            <div class="template-percursos" *ngFor="let tipoViatura of tiposViaturas">
                <p>{{tipoViatura}}</p>
                <button (click)="eliminarTipoViatura(tipoViatura)" translate>createLine.deleteButton</button>
            </div>
        </div>
        <div class="input-radio" *ngIf="tiposViaturas.length > 0">
            <input type="radio" id="restricaoV" [value]="'RESTRICAO'" formControlName="necTipoViatura">
            <label for="restricaoV" translate>createLine.restrictionOnVehicleTypesMessage</label><br>
            <input type="radio" id="permissaoV" [value]="'PERMISSAO'" formControlName="necTipoViatura">
            <label for="permissaoV" translate>createLine.permissionOnVehicleTypesMessage</label><br>
        </div>
        <div class="input-extra">
            <button type="button" mat-button (click)="openDialogAdicaoTipoTripulante()" translate>createLine.newDriverTypeButton</button>
            <p translate [translateParams]="{number: tiposTripulantes.length}">createLine.driverTypesHeader</p>
            <div class="template-percursos" *ngFor="let tipoTripulante of tiposTripulantes">
                <p>{{tipoTripulante}}</p>
                <button (click)="eliminarTipoTripulante(tipoTripulante)" translate>createLine.deleteButton</button>
            </div>
        </div>
        <div class="input-radio" *ngIf="tiposTripulantes.length > 0">
            <input type="radio" id="restricaoT" [value]="'RESTRICAO'" formControlName="necTipoTripulante">
            <label for="restricaoT" translate>createLine.restrictionOnDriverTypesMessage</label><br>
            <input type="radio" id="permissaoT" [value]="'PERMISSAO'" formControlName="necTipoTripulante">
            <label for="permissaoT" translate>createLine.permissionOnDriverTypesMessage</label><br>
        </div>
        <div class="input-extra">
            <button class="button" type="submit" translate>createLine.submitButton</button>
        </div>
    </form>
</div>