
.criacao-linhas-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
}

.criacao-linhas-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.criacao-linhas-form label {
    width:20%;
    padding-right: 10px;
}

.input {
    flex-basis: 45%;
    max-width: 750px;
}

.input-extra {
    flex-basis: 90%;
}

.input-radio {
    flex-basis: 90%;
    display: block;
}

.input-radio label {
    width: 90%;
    padding-left: 5px;
    padding-right: 10px;
}

.template-percursos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-height: 24px;
    column-gap: 10px;
}

.template-percursos p {
    width: 90%;
    max-width: 350px;
}

.template-percursos button {
    width: 10%;
    max-width: 100px;
    max-height: 24px;
}