
<div class="adicao-percurso-container">
    <h2 mat-dialog-title translate>createLine.addPath.headerMessage</h2>
    <div mat-dialog-content>
        <visualizador-percursos (percursoClicado)="onClickedPath($event)"></visualizador-percursos>
    </div>
    <div class="input">
        <label for="codPercurso" translate>createLine.addPath.codeLabel</label>
        <input type="text" id="codPercurso" [ngModel]="codPercurso" (ngModelChange)="adicionarCodigoPercurso($event)">
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelarClick()" translate>createLine.addPath.cancelButton</button>
      <button mat-button (click)="onAdicionarClick()" cdkFocusInitial translate>createLine.addPath.addButton</button>
    </div>
</div>