
<div class="size-selector">
    <select name="page-size" id="size" [(ngModel)]='tamanhoSelecionado' (change)="onChange($event)">
        <option *ngFor="let value of values" [ngValue]="value">{{ value }}</option>
    </select>
</div>