
<div class="criacao-tempos-container">
    <h2 mat-dialog-title translate>createNode.addTime.headerMessage</h2>
    <div mat-dialog-content>
        <visualizador-nos (noClicado)="onClickedNode($event)"></visualizador-nos>
    </div>
    
    <div class="input-dados-tempo-container">
        <div class="input">
            <label for="tempo" translate>createNode.addTime.durationLabel</label>
            <input type="time" step="1" id="tempo" (change)="adicionarTempo($event)">
        </div>
        <div class="input">
            <label for="abreviatura" translate>createNode.addTime.shortNameLabel</label>
            <input type="text" id="abreviatura" [ngModel]="abreviaturaNo" (ngModelChange)="adicionarAbreviaturaNo($event)">
        </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelarClick()" translate>createNode.addTime.cancelButton</button>
      <button mat-button (click)="onAdicionarClick()" cdkFocusInitial translate>createNode.addTime.addButton</button>
    </div>
</div>