
<div class="vehicles-displayer-container">

    <div class="new-vehicle-button">
      <a [routerLink]="['../newVehicle']">
        <button translate>viewVehicles.newVehicleButton</button>
      </a>
    </div>
    
    <app-vehicles-viewer></app-vehicles-viewer>
  
</div>