
<div class="adicao-tipo-tripulante-container">
    <h2 mat-dialog-title translate>createLine.addDriverType.headerMessage</h2>
    <div mat-dialog-content>
        <visualizador-tipos-tripulantes (tipoTripulanteClicada)="onClickedDriverType($event)"></visualizador-tipos-tripulantes>
    </div>
    <div class="input">
        <label for="codTipoTripulante" translate>createLine.addDriverType.codeLabel</label>
        <input type="text" id="codTipoTripulante" [ngModel]="codTipoTripulante" (ngModelChange)="adicionarCodigoTipoTripulante($event)">
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelarClick()" translate>createLine.addDriverType.cancelButton</button>
      <button mat-button (click)="onAdicionarClick()" cdkFocusInitial translate>createLine.addDriverType.addButton</button>
    </div>
</div>