
.vehicles-viewer-container {
    display: flex;
    flex-flow: column;
  }
  
  .search-container {
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
    grid-row-gap: 20px;
    justify-content: center;
    align-items: center;
    width: inherit;
  }

  .page-number-selector {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .options-bar-text {
    margin: 0;
    color: white;
    padding-right: 3px;
  }

  .vehicles-search {
    flex-grow: 1;
  }

  .page-size-selector {
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  .vehicles-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    row-gap: 20px;
    column-gap: 20px;
  }
  
  .vehicle-template {
    width: 90%;
    max-width: 500px;
    background-color: #192832;
    padding: 10px;
  }
  
  .vehicle-text {
    font-family: Arial;
    color: white;
    font-size:18px;
    margin: 0px;
    margin-bottom: 10px;
  }
  
  .sub-text {
    text-indent: 1.5rem;
  }