
<div class="vehicles-viewer-container">

    <div class="search-container">
        <div class="page-number-selector">
          <p class="options-bar-text" translate>itemViewer.pageSelectorText</p>
          <app-page-selector [dadosCriacaoPaginas]="pageCreationData" (selectedValue)="changePage($event)"></app-page-selector>
        </div>
    
        <div class="page-number-selector">
          <p class="options-bar-text" translate>itemViewer.sortSelectorText</p>
          <app-sort-selector [possibleSorts]="sorts" (selectedValue)="changeSort($event)" (selectedOrder)="changeOrder($event)"></app-sort-selector>
        </div>
    
        <div class="page-size-selector">
          <p class="options-bar-text" translate>itemViewer.sizeSelectorText</p>
          <app-size-selector (selectedValue)="changeSize($event)"></app-size-selector>
        </div>
    
    </div>
  
    <div class="spinner-border text-primary mx-auto mt-5" style="width: 5rem; height: 5rem;" role="status" *ngIf="!hasFinishedLoadingVehicles; else vehiclesDisplayer">
      <span class="sr-only">Loading...</span>
    </div>

    <ng-template #vehiclesDisplayer>
      <div class="vehicles-container">
        <p class="options-bar-text text-center" *ngIf="vehicles.length == 0" translate>itemViewer.noVehiclesText</p>
        <div class="vehicle-template" *ngFor="let v of vehicles" (click)="onClickedVehicle(v)">
          <p class="vehicle-text">{{v.licensePlate}}</p>
          <hr />
          <p class="vehicle-text sub-text" translate [translateParams]="{vin: v.vin}">vehicleModel.vinText</p>
          <p class="vehicle-text sub-text" translate [translateParams]="{date: v.entryDate}">vehicleModel.entryDateText</p>
          <p class="vehicle-text sub-text" translate [translateParams]="{type: v.vehicleType}">vehicleModel.vehicleTypeText</p>
        </div>
      </div>
    </ng-template>
  </div>