
<div class="criacao-percursos-container">
    <h2 translate>createPath.headerMessage</h2>
    <form class="criacao-percursos-form" [formGroup]="formCriacaoPercurso" (ngSubmit)="onSubmit(formCriacaoPercurso.value)">
        <div class="input">
            <label for="codigo" translate>createPath.codeLabel</label>
            <input type="text" id="codigo" formControlName="codigo">
        </div>
        <div class="input-segmentos">
            <button type="button" mat-button (click)="openDialog()" translate>createPath.newSegmentButton</button>
            <p translate [translateParams]="{number: segmentos.length}">createPath.segmentHeader</p>
            <div class="template-segmentos" *ngFor="let seg of segmentos">
                <p translate [translateParams]="{orig: seg.abreviaturaNoInicial, dest: seg.abreviaturaNoFinal, dur: seg.duracao, dist: seg.distancia}">createPath.segmentMessage</p>
                <button (click)="eliminarSegmento(seg)" translate>createPath.deleteButton</button>
            </div>
        </div>
        <div class="input-button">
            <button class="button" type="submit" translate>createPath.submitButton</button>
        </div>
    </form>
</div>