
.criacao-percursos-container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
}

.criacao-percursos-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.criacao-percursos-form label {
    width:20%;
    max-width: 100px;
    padding-right: 10px;
}

.input {
    flex-basis: 45%;
    max-width: 750px;
}

.input-button {
    flex-basis: 100%;
}

.input-segmentos {
    flex-basis: 100%;
}

.template-segmentos {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    max-height: 24px;
    column-gap: 10px;
}

.template-segmentos p {
    width: 90%;
    max-width: 600px;
}

.template-segmentos button {
    width: 10%;
    max-width: 100px;
    max-height: 24px;
}