
.account-page-container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    row-gap: 20px;
    margin: 20px;
    color: white;
    max-width: 800px;
    font-size: 24px;
    margin: 0 auto;
}

.account-page-container h2 {
    margin: 0 auto;
}

.update-account-form {
    padding-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.update-account-form label {
    width: auto;
    padding-right: 10px;
}

.input {
    font-size: 18px;
    flex-basis: 45%;
    max-width: 750px;
}

.input-button {
    font-size: 18px;
    padding-top: 15px;
    flex-basis: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.checkbox {
    height: 27px;
    width: 18px;
    margin-right: 10px;
}

.message {
    color: red;
    font-size: 18px;
    margin-bottom: 0;
}