<div class="account-page-container">
    <h2 translate>accountPage.headerMessage</h2>
    <details>
        <summary translate>accountPage.updateAccountText</summary>
        <form class="update-account-form" [formGroup]="updateAccountForm" (ngSubmit)="onUpdateSubmit()">
            <div class="input">
                <label for="newUsername" translate>accountPage.newUserNameLabel</label>
                <input type="search" id="newUsername" formControlName="newUsername">
            </div>
            <div class="input">
                <label for="newBirthDate" translate>accountPage.newBirthDateLabel</label>
                <input type="date" required pattern="\d{4}-\d{2}-\d{2}" id="newBirthDate" formControlName="newBirthDate">
            </div>
            <div class="input-button">
                <button class="button" type="submit" translate>accountPage.submitButton</button>
            </div>
        </form>
    </details>
    <details>
        <summary translate>accountPage.deleteAccountText</summary>
        <div class="input-button">
            <input type="checkbox" id="confirmDeletion" [(ngModel)]="checkboxValue" class="checkbox">
            <label for="confirmDeletion" translate>accountPage.confirmDeleteText</label>
        </div>
        <div class="input-button">
            <button class="button" (click)="onDeleteSubmit()" type="submit" translate>accountPage.deleteButton</button>
        </div>
    </details>
    <p class="message" *ngFor="let message of errorSignupMessages" translate>{{message}}</p>
</div>
