
<div class="vehicles-creation-container">
    <h2 translate>createVehicle.headerMessage</h2>
    <form class="vehicles-creation-form" [formGroup]="createVehicleForm" (ngSubmit)="onSubmit(createVehicleForm.value)">
        <div class="input">
            <label for="licensePlate" translate>createVehicle.licensePlateLabel</label>
            <input type="text" id="licensePlate" formControlName="licensePlate">
        </div>
        <div class="input">
            <label for="vin" translate>createVehicle.vinLabel</label>
            <input type="text" id="vin" formControlName="vin">
        </div>
        <div class="input">
            <label for="entryDate" translate>createVehicle.entryDateLabel</label>
            <input type="date" id="entryDate" required pattern="\d{4}-\d{2}-\d{2}" formControlName="entryDate">
        </div>
        <div class="vehicle-type-input">
            <button type="button" mat-button (click)="openDialog()" translate>createVehicle.chooseVehicleTypeButton</button>
            <p *ngIf="chosenTypeCode == null" translate>createVehicle.noChosenTypeCodeMessage</p>
            <p *ngIf="chosenTypeCode != null" translate [translateParams]="{vehicleType: chosenTypeCode}">createVehicle.chosenTypeCodeMessage</p>
        </div>
        <div class="input-button">
            <button class="button" type="submit" translate>createVehicle.submitButton</button>
        </div>
    </form>
</div>