<div class="message">
    <p translate [translateParams]="{cod: perc.codigo}">linePage.pathCodeHeader</p>
    <p translate [translateParams]="{desc: perc.descricao}">linePage.pathDescriptionText</p>
    <p translate [translateParams]="{dist: perc.distanciaTotal}">linePage.pathDistanceText</p>
    <p translate [translateParams]="{dur: perc.duracaoTotal}">linePage.pathDurationText</p>
    <details>
        <summary translate>linePage.segmentsHeader</summary>
        <div class="sub-message" *ngFor="let seg of perc.segmentos">
            <p translate [translateParams]="{start: seg.abreviaturaNoInicio, end: seg.abreviaturaNoFim, seq: seg.sequencia}">linePage.segmentIntroductionText</p>
            <p translate [translateParams]="{dur: seg.duracao}">linePage.segmentDurationText</p>
            <p translate [translateParams]="{dist: seg.distancia}">linePage.segmentDistanceText</p>
        </div>
    </details>
</div>