
<div class="trips-creation-container">
    <h2 translate>createTrip.headerMessage</h2>
    <form class="trips-creation-form" [formGroup]="createTripForm" (ngSubmit)="onSubmit(createTripForm.value)">
        <div class="input">
            <label for="startHour" translate>createTrip.startHourLabel</label>
            <input type="time" id="startHour" formControlName="startHour">
        </div>
        <div class="line-input">
            <button type="button" mat-button (click)="openChooseLineDialog()" translate>createTrip.chooseLineButton</button>
            <p *ngIf="chosenLineCode == null" translate>createTrip.noChosenLineCodeMessage</p>
            <p *ngIf="chosenLineCode != null" translate [translateParams]="{Line: chosenLineCode}">createTrip.chosenLineCodeMessage</p>
        </div>
        <div class="path-input" *ngIf="chosenLineCode != null">
            <button type="button" mat-button (click)="openChoosePathDialog()" translate>createTrip.choosePathButton</button>
            <p *ngIf="chosenPathCode == null" translate>createTrip.noChosenPathCodeMessage</p>
            <p *ngIf="chosenPathCode != null" translate [translateParams]="{Path: chosenPathCode}">createTrip.chosenPathCodeMessage</p>
        </div>
        <div class="input-button">
            <button class="button" type="submit" translate>createTrip.submitButton</button>
        </div>
    </form>
</div>