
<div class="choose-path-container">
    <h2 mat-dialog-title translate>createTrip.choosePath.headerMessage</h2>
    <div mat-dialog-content>
        <visualizador-percursos [line]="line" (percursoClicado)="onClickedPath($event)"></visualizador-percursos>
    </div>
    
    <div class="input-data-container">
        <div class="input">
            <label for="pathCode" translate>createTrip.choosePath.pathCodeLabel</label>
            <input type="text" id="pathCode" [ngModel]="pathCode" (ngModelChange)="choosePath($event)" disabled>
        </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelClick()" translate>createTrip.choosePath.cancelButton</button>
      <button mat-button (click)="onAddClick()" cdkFocusInitial translate>createTrip.choosePath.addButton</button>
    </div>
</div>