
<div class="canvas-container">
    <div class="gui-container" id="gui-container"></div>
    <canvas #canvas class="canvas" id="mapCanvas"></canvas>
</div>
<div id="tooltip" [ngStyle]="{'left': tooltipPosition.x, 'top': tooltipPosition.y}" *ngIf="tooltipData">
    <p>{{tooltipData.abreviatura}}</p>
    <p>Latitude: {{tooltipData.latitude}}</p>
    <p>Longitude: {{tooltipData.longitude}}</p>
    <p>{{tooltipData.tipoNo}}</p>
</div>