
.canvas-container {
    padding: 10px;
    width: 95%;
    max-width: 1250px;
    margin: 0 auto;
}

.canvas {
    position: relative;
    width: 100%;
    height: 100%;
}

.gui-container {
  position: absolute;
  right: 30%;
  z-index: 10;
}

#tooltip {
    position: fixed;
    text-align: center;
    padding: 5px 12px;
    font-family: monospace;
    background: white;
    border: 1px solid black;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    transition: opacity 0.25s linear;
    border-radius: 3px;
}

#tooltip p {
    margin-bottom: 0;
    padding-top: 5px;
}