
<div class="filter-selector">
    <select name="filter" id="filter" [(ngModel)]='chosenFilter' (change)="onSelection($event)">
        <option *ngFor="let value of possibleFilters" [value]="value" translate>{{value}}</option>
    </select>
</div>